.main-title {
  padding: 20px 0;
  color: white;
}

.title-background {
  background-color: #313032;
}

.app-version {
  color: white;
  opacity: 50%;
  text-align: right;
  font-size: 11px;
}

.alert {
  margin-top: 8px;
  max-height: 50px;
  padding: 0px 10px;
}

.table {
  font-size: 13px;
}

.dark-switch {
  color: white;
  margin-top: -30px;
}

.selector {
  margin-right: 5px;
}

.btn-outline-danger {
  margin-left: -22px;
}

.log {
  padding-bottom: 10px;
}
